// Colors
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Fonts, paddings
$fs: 15px;
$fm: 'League Spartan'; //400, 500, 700

// mobile paddings and margins
$padding-sides: 2.4rem;
$mobile-max-width: 50rem;

// Media query

@mixin mq-pc {
    @media screen and (min-width: 1000px) {
        @content;
    }
}